p {
    margin-left: 3em;
    margin-right: 3em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
}

[data-dynamic-input] {
    display: flex;
    justify-content: space-between;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

span{
    font-weight: bold;
    text-transform: lowercase;
    font-size: 0.9em;
    
}

h2{
    font-weight: bold;
    font-size: 2em;
}

h1{
    font-weight: bold;
    font-size: 3em;
    margin-top:50px;
}

.separator{
    border: black solid 0.6em;
    background-color: black;
    border-radius: 50px;
}

span .value{
    margin-left: 1em;
    margin-top: 0.3em;
}

.border{
    border-radius: 7px;
}

.error{
    font-weight: bold;
    text-align: center;
    color: red;
}

.form-check-inline {
    margin-top: 2.7em;
}

div#navcss {
    margin-bottom: 3em;
}

.tab{
    display: none;
  }
  
.tab.active {
    display: block;
  }

a{
    color: #8c8e8e;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
}

.btn-primaryCustom {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 332px;
}

