body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: black;
}

.border-primary {
    border-color: goldenrod!important;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color:  goldenrod;
    border-color:  goldenrod;
}

p {
    margin-left: 3em;
    margin-right: 3em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #8c8e8e
}

[data-dynamic-input] {
    display: flex;
    justify-content: space-between;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

span {
    font-weight: bold;
    text-transform: lowercase;
    font-size: 0.9em;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    color: #8c8e8e
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
    color: #8c8e8e
}

span .value {
    margin-left: 1em;
    margin-top: 0.3em;
}

.border {
    border-radius: 7px;
}

.error {
    font-weight: bold;
    text-align: center;
    color: red;
}

.form-check-inline {
    margin-top: 2.7em;
}

div#navcss {
    margin-bottom: 1.5em;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
    color: #8c8e8e
}

.nav-tabs {
    border-bottom: 1px solid #8c8e8e;
    font-size: 1.2em;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: rgb(173 32 208);
}

a {
    color: #8c8e8e;
}

a:hover{
    color:goldenrod;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
}

.form-control {
    background-color: Black;
    color: #8c8e8e;
    border: 1px solid goldenrod;
}

.form-control:focus {
  background-color: Black;
  color: #8c8e8e;
  border-color: goldenrod;
}

.btn-primaryCustom {
    color: #fff;
    background-color: darkgoldenrod;
    border-color: goldenrod;
    width: 332px;
}

.btn-primary {
    color: #fff;
    background-color: darkgoldenrod;
    border-color: goldenrod;
}

.remove{
    border-collapse: collapse;
    display: flex;
    height: 40px;
}

.rowCustom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 3em;
    margin-left: 3em;
}

.custom {
    margin-right: -58px;
    margin-left: -83px;
}

.col-1 {
    max-width: 5.033333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 49.7 0 91.666667%;
    max-width: 108.966667%;
}

.fixed-topCustom{
    position: fixed;
    top: 0;
    right: 50.5em;
    left: 12.2em;
    z-index: 1030;
    padding-top: 0.3em;
}

.list-group-item {
    position: relative;
    display: grid;
    padding: .75rem 1.25rem;
    background-color: goldenrod;
    color:white;
    width: 19.1em;
    height: 2.1em;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item+.list-group-item {
    border-top-width: 0;
    padding: 0.6em;
}

.dropdown-menu.show {
    display: block;
    background-color:goldenrod;
}

input.btn.btn-secondary.btn-lg.dropdown-toggle {
    font-size: 1rem;
}

.btn-secondary {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
}

input.btn.btn-secondary.btn-lg.dropdown-toggle {
    background-color: #343a40;
    border-color: #343a40;
}

.wrapper {
    padding-bottom: 90px;
}

.divider {
    position: relative;
    margin-top: 56px;
    margin-bottom: 26px;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(173 32 208), transparent);
}

.div-arrow-down:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 1px solid rgb(173 32 208);
    border-right: 1px solid rgb(173 32 208);
}

.div-tab-down:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(50% - 10px);
    width: 20px;
    height: 14px;
    background-color: white;
    border-bottom: 1px solid rgb(173 32 208);
    border-left: 1px solid rgb(173 32 208);
    border-right: 1px solid rgb(173 32 208);
    border-radius: 0 0 8px 8px;
}

.div-stopper:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -6px;
    left: calc(50% - 7px);
    width: 14px;
    height: 12px;
    background-color: white;
    border-left: 1px solid rgb(173 32 208);
    border-right: 1px solid rgb(173 32 208);
}

.div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: goldenrod;
    border: 1px solid rgb(173 32 208);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px black, 0 0 0 4px black;
}

nav#navbar-example3 {
    width: 7em;
}

.form-control:disabled, .form-control[readonly] {
    background-color: black;
    opacity: 1;
}


@media screen and (max-device-width: 1200px){
    
    .fixed-topCustom{
        position: fixed;
        top: 0em;
        padding-top: 0.3em;
        right: 25.5em;
        left: 12.2em;
        z-index: 1030;
    }

    .remove{
        border-collapse: collapse;
        display: flex;
        height: 40px;
        margin-right: 1.3em;
    }

    ul.nav.nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .tabs {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    a.nav-link {
        width: max-content;
    }

    nav#navbar-example3 {
        width: 7em;
    }
}

@media screen and (max-device-width: 765px){
    
    .fixed-topCustom{
        position: fixed;
        top: 0em;
        padding-top: 0.3em;
        right: 25.5em;
        left: 3.9em;
        z-index: 1030;
    }
}



:root {
	--skintone-color: #DE9B72;
	--dark-color: #3A3D3E;
}

.main {
    height: 100%;
}

.row {
	margin-right: 0;
    margin-left: 0;
}

.social-row {
	display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
}

.text-centerCustom {
    text-align: center!important;
    height: 10em;
    display: inline-table;
}

@media (min-width: 768px) {
	.social-row {
		position: relative;
	  	flex-direction: row;
	  	justify-content: flex-end;
	}
}

.social-row a {
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
   	padding: 1em 0;
    z-index: 99;
    margin-bottom: 1em;
  	margin-right: 1em;
}

@media (min-width: 768px) {
	.social-row a {
	    width: 2.5em;
  	  	height: 2.5em;
	    padding: 1em 0;
	    margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.social-row a {
	    width: 3em;
	    height: 3em;
	    padding: 0;
	}
}

.countach {
    font-family: Roboto, "Helvetica Neue";
    font-weight: normal;
    font-size: 1.2em;
}

.tilda-petite {
	font-family: Roboto, "Helvetica Neue";;
	font-weight: 400;
	font-style: normal;
}

.skintone-text {
	color: var(--skintone-color);
}

.dark-text {
	color: var(--dark-color);
}

.white-text {
	color: #fff;
}

a:hover {
	color: #c2c2c2;
}

.dark-background {
	background: var(--dark-color);
}


.logo {
	width: 20vh;
}

@media (min-width: 768px) {
	.logo {
		width: 16em;
	}
}

@media (min-width: 992px) {
	.logo {
		width: 18em;
	}
}

@media (min-width: 1200px) {
	.logo {
	    width: 28vh;
    	height: 28vh;
	}
}

.lead {
    font-size: 1.5rem;
  	padding-top: 0.5em;
}

@media (min-width: 992px) {
	.lead {
	    font-size: 2rem;
	    padding-top: 0.5em;
	}
}

@media (min-width: 1200px) {
	.lead {
    	font-size: 2.5rem;
		padding-top: 1em;
	}
}

p.general {
    font-size: 2.5vh;
    margin-bottom: 0.5em;
    line-height: 1.25em;
}

@media (min-width: 992px) {
	p.general {
		font-size: 1.25em;
		 line-height: 1.5em;
	}
}

@media (min-width: 1200px) {
	p.general {
	    font-size: 1.5em;
	}
}


.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.outer-border {
	border: 2px solid #DE9B72;
   	height: 99%;
    width: 100%;
    padding: 6px;
    margin: 0 auto;
}

@media (min-width: 992px) {
	.outer-border {
		height: 94%;
	}
}

.mid-border {
    border: 6px solid #DE9B72;
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
}

.inner-border {
	position: relative;
	border: 2px solid #DE9B72;
    height: 100%;
    width: 100%;
    margin: auto;
}


/* Decorations */
.corner-decoration {
	position: absolute;
    width: 3em;
    margin: -3px;
}

@media (min-width: 768px) {
	.corner-decoration {
		width: 3.5em;
	  	margin: -4px;
	}
}

@media (min-width: 992px) {
	.corner-decoration {
		width: 4em;
	  	margin: -5px;
	}
}

@media (min-width: 1200px) {
	.corner-decoration {
		width: 5em;
	  	margin: -6px;
	}
}

.corner-decoration.corner-left-top {
	left: 0;
	top: 0;
}

.corner-decoration.corner-right-top {
	top: 0;
	right: 0;
	 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
	right: 0;
	bottom: 0;
	 -webkit-transform: scale(-1);
  	transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
	left: 0;
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}


.vertical-decoration {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 11em;
}


@media (min-width: 768px) {
	.vertical-decoration {
		width: 16em;
	}
}


@media (min-width: 992px) {
	.vertical-decoration {
		width: 20em;
	}
}

@media (min-width: 1200px) {
	.vertical-decoration {
		width: 27em;
	}
}

.vertical-decoration.top {
	top: 0;

}

.vertical-decoration.bottom {
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}